* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

.header {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
    border: 1px solid #ececec;
    background-color: #ffffff;
    height: 100px;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.form__browse {
    color: #222222;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.35px;
}

.form__browse::-webkit-details-marker {
    display: none;
}

.logo {
    color: #222222;
    font-size: 27px;
    font-weight: 300;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.logo_d {
    color: #f16d7f;

    font-weight: 400;

    letter-spacing: 0.68px;
}

.header__content {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.header__block {
    display: flex;
    align-items: center;
}

.header__form {
    display: flex;
    align-items: center;
    margin-left: 37px;
}

.logo__img {
    margin-right: 13px;
}

.botton {
    color: #ffffff;
    background-color: #f16d7f;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.38px;
    height: 38px;
    line-height: 38px;
    padding-left: 19px;
    padding-right: 19px;
    outline: 1px solid #f16d7f;
}

.botton:hover {
    background-color: #fff;
    color: #f16d7f;
}

.header__cart {
    margin-right: 16px;
    padding: 10px;
}

.header__cart:hover {
    box-shadow: 5px 5px 5px -2px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    padding: 10px;
}

.form__browse_botton {
    border-radius: 3px 0 0 3px;
    border: 1px solid #e6e6e6;
    background-color: #cdcdcc;
    background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
    padding-right: 14px;
    padding-left: 14px;
    line-height: 38px;
    position: relative;
}



.symbol:after {
    content: "\f0d7";
    font-family: FontAwesome;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.35px;
    margin-left: 8px;
}

.shopping_cart__symbol:after {
    content: "\f0d7";
    font-family: FontAwesome;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.35px;
    margin-left: 235px;
}

.product__description_choose_symbol:after {
    content: "\f107";
    font-family: FontAwesome;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.35px;
    margin-left: 60px;
}

.product__description_choose_symbol1:after {
    content: "\f107";
    font-family: FontAwesome;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.35px;
    margin-left: 80px;
}

.symbol__aside_1:after {
    content: "\f0d7";
    font-family: FontAwesome;
    color: #6f6e6e;
    margin-left: 133px;
}

.symbol__aside_2:after {
    content: "\f0d7";
    font-family: FontAwesome;
    color: #6f6e6e;
    margin-left: 164px;
}

.symbol__aside_3:after {
    content: "\f0d7";
    font-family: FontAwesome;
    color: #6f6e6e;
    margin-left: 138px;
}

details.products__category[open] .symbol__aside_1:after {
    content: "\f0d8";
    font-family: FontAwesome;
    color: #ef5b70;
}

details.products__category[open] .symbol__aside_2:after {
    content: "\f0d8";
    font-family: FontAwesome;
    color: #ef5b70;
}

details.products__category[open] .symbol__aside_3:after {
    content: "\f0d8";
    font-family: FontAwesome;
    color: #ef5b70;
}






.form {
    border-radius: 0 3px 3px 0;
    border: 1px solid #e6e6e6;
    background-color: #ffffff;
    height: 39px;
    width: 252px;
    margin-left: -1px;
    padding: 0 15px;
}

.checkout__form {
    border-radius: 0 3px 3px 0;
    border: 1px solid #e6e6e6;
    background-color: #ffffff;
    height: 39px;
    width: 252px;
    margin-left: -1px;
    padding: 0 15px;
    margin-top: 16px;
}



.form:after {
    content: "\f002";
    font-family: FontAwesome;
    color: #a4a4a4;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.35px;
}

.fa-search {
    color: #a4a4a4;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.35px;
}

.form__button {
    margin-left: -1px;
    border-radius: 0 3px 3px 0;
    border: 1px solid #e6e6e6;
    background-color: #ffffff;
    height: 41px;
    width: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu__link {
    color: #222222;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 20px;
    display: block;
}



.menu__link:hover {
    color: #f16d7f;
    display: block;
}


.menu {
    display: flex;
    list-style-type: none;
    height: 51px;
    justify-content: center;
    align-items: center;
}

.promo {
    height: 613px;
    background-color: #e8e8e8;
}

.promo__h4 {
    color: #222222;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 33px;
}

.promo__h3 {
    color: #222222;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 43px;
    margin-bottom: 15px;
}

.promo__text {
    border-left: 12px solid #f16d7f;
    padding-left: 12px;
}

.promo__span {
    color: #f16d7f;
}

.promo__content {
    height: 100%;
    display: flex;
    align-items: center;
    background-image: url("../img/promo.jpg");
    background-position: 0 -52px;
}

.offer__item_big1 {
    height: 542px;
    background-image: url("../img/offer_big_1.jpg");
    display: flex;
    align-items: flex-start;
}

.offer__item_big2 {
    height: 542px;
    background-image: url("../img/offer_big_2.jpg");
    display: flex;
    align-items: flex-start;
}

.offer__item_mini1 {
    height: 261px;
    background-color: #dadad2;
    background-image: url(../img/offer_mini_1.jpg);
    background-position: 149px 0;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-start;
}

.offer__item_mini1 {
    height: 261px;
}


.offer__item {
    width: 560px;
}

.offer__item:first-of-type {
    margin-bottom: 20px;
}

.offer {
    display: flex;
    justify-content: space-between;
    margin-top: 98px;
}

.offer__h4 {
    color: #222222;
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.45px;
}

.offer__h3 {
    font-weight: 900;
    text-transform: uppercase;
    color: #f16d7f;
    font-size: 30px;
    letter-spacing: 0.75px;
}

.offer__item_mini2 {
    height: 261px;
    background-image: url(../img/offer_mini_2.jpg);
    display: flex;
    align-items: flex-start;
}

.offer__text {
    background-color: #fff;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 19px;
    padding-right: 19px;
    margin-top: 26px;
}

.fetured {
    margin-top: 100px;
}

.fetured__header {
    text-align: center;
    color: #222222;
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 0.75px;
    line-height: 23px;
}

.fetured__h2 {
    color: #9f9f9f;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.35px;
    margin-top: 16px;
    margin-bottom: 30px;
    line-height: 12px;
}

.products__fetured__item {
    margin-bottom: 40px;
    width: 263px;
    position: relative;
}

.fetured__item {
    margin-top: 40px;
    width: 263px;
    position: relative;
}

.fetured__item img {
    width: 263px;
    height: 281px;
}

.products__fetured__item img {
    width: 263px;
    height: 280px;
}

.fetured__item:hover .fetured__a {
    display: flex;
    justify-content: center;
    align-items: center;

}

.products__fetured__item:hover .fetured__a {
    display: flex;
    justify-content: center;
    align-items: center;

}

.products__fetured__item:hover .fetured__a_2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.products__fetured__item:hover .fetured__a_3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fetured__item:hover {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}

.products__fetured__item:hover {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}

.fetured__item:hover img {
    filter: brightness(50%);
}

.products__fetured__item:hover img {
    filter: brightness(50%);
}

.fetured__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.fetured__h3 {
    color: #222222;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 14px;
    margin-top: 15px;
    letter-spacing: 0.4px;
}

.fetured__h4 {
    color: #f16d7f;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 15px;
}


.fetured__a {
    width: 123px;
    height: 39px;
    border: 1px solid #fff;
    border-radius: 3px;
    text-align: center;
    line-height: 39px;
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    position: absolute;
    top: 98px;
    left: 70px;
    display: none;
}

.fetured__a_2 {
    width: 57px;
    height: 39px;
    border: 1px solid #fff;
    border-radius: 3px;
    text-align: center;
    line-height: 39px;
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    position: absolute;
    top: 146px;
    left: 70px;
    display: none;
}

.fetured__a_3 {
    width: 57px;
    height: 39px;
    border: 1px solid #fff;
    border-radius: 3px;
    text-align: center;
    line-height: 39px;
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    position: absolute;
    top: 146px;
    left: 136px;
    display: none;
}



.fetured__a:before {
    content: "";
    background-image: url(../img/cart_white.svg);
    background-size: 23px 23px;
    height: 23px;
    width: 23px;
    margin-right: 10px;
}

.fetured__a_2:before {
    content: "";
    background-image: url(../img/star_white.svg);
    background-size: 23px 23px;
    height: 23px;
    width: 23px;
}

.fetured__a_3:before {
    content: "";
    background-image: url(../img/resive_white.svg);
    background-size: 23px 23px;
    height: 23px;
    width: 23px;

}

.fetured__a:hover {
    color: black;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid #000;
}

.fetured__a_2:hover {
    color: black;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid #000;
}

.fetured__a_3:hover {
    color: black;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid #000;
}

.fetured__a:hover:before {
    background-image: url(../img/cart.svg);
}

.fetured__a_2:hover:before {
    background-image: url(../img/star_white.svg);
}

.fetured__a_3:hover:before {
    background-image: url(../img/resive_white.svg);
}

.fetured__cart {
    margin-right: 5px;
    width: 20px;
}

.fetured__button {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 115px;
}

.button {
    color: #ffffff;
    background-color: #f16d7f;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.38px;
    height: 48px;
    line-height: 48px;
    padding-left: 25px;
    padding-right: 25px;
    border: 1px solid #f16d7f;
}

.button:hover {
    background-color: #fff;
    color: #f16d7f;
}

.symbol__arrow:after {
    content: "\f178";
    font-family: FontAwesome;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.35px;
    margin-left: 8px;
}

.sales {
    display: flex;
    align-items: center;
    height: 532px;
    background-color: #222224;
    margin-bottom: 98px;
}

.sales__big {
    position: relative;

}

.sales__layer {
    position: absolute;
    top: 0;
    left: 0;
}

.sales__h3 {
    color: #ffffff;
    font-size: 54px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.sales__text {
    position: absolute;
    top: 146px;
    left: 39px;
}

.sales__span {
    font-size: 54px;
    font-weight: 700;
    text-transform: uppercase;
    color: #f16d7f;
}

.sales__h4 {
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 32px;
    letter-spacing: 0.9px;
}

.sales__mini {
    /*    height: 529px;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 66px;
}

.sales__h2_1 {
    color: #fbfbfb;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.5px;
    margin-top: 48px;
    display: flex;
}

.sales__h2_1:before {
    content: url("../img/sales_icon1.svg");
    width: 45px;
    height: 32px;
    margin-left: 36px;
    margin-right: 30px;
}

.sales__h2_2 {
    color: #fbfbfb;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.5px;
    margin-top: 55px;
    display: flex;
}

.sales__h2_2:before {
    content: url("../img/sales_icon2.svg");
    width: 40px;
    height: 40px;
    margin-left: 36px;
    margin-right: 30px;
    margin-top: -6px;
}

.sales__h2_3 {
    color: #fbfbfb;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.5px;
    margin-top: 55px;
    display: flex;
}

.sales__h2_3:before {
    content: url("../img/sales_icon3.svg");
    width: 47px;
    height: 35px;
    margin-left: 36px;
    margin-right: 30px;
    margin-top: -6px;
}

.sales__p {
    color: #fbfbfb;
    font-size: 14px;
    font-weight: 300;
    margin-left: 111px;
    margin-right: 43px;
    line-height: 1.7;
}

.subscribe {
    height: 438px;
    display: flex;
    align-items: center;
    background-image: url("../img/subscribe.jpg");
    width: 1600px;
    margin: 0 auto;
}

.subscribe__content {
    width: 100%;
    height: 100%;
    background: rgba(247, 247, 247, 0.4);
    display: flex;
    align-items: center;
}

.subscribe__left {
    width: 50%;
    height: 100%;
    border-right: 0.5px solid #fff;
    /*    display: flex;*/
    align-items: center;
}

.subscribe__right {
    width: 50%;
    height: 100%;
    border-left: 0.5px solid #fff;
}

.subscribe__p {
    color: #222224;
    font-size: 16px;
    font-style: italic;
    letter-spacing: 0.4px;
    display: flex;
    width: 500px;
    line-height: 1.7;
    margin-left: 230px;
    margin-top: 123px;

}

.subscribe__p:before {
    content: url("../img/subscribe_photo.png");
    width: 83px;
    height: 83px;
    margin-top: -6px;
    margin-right: 28px;

}

.subscribe__h3 {
    margin-top: 19px;
    margin-left: 343px;
    color: #f16d7f;
    font-size: 16px;
    font-weight: 700;

}

.subscribe__h4 {
    margin-left: 343px;
    font-weight: 700;
    color: #222224;
    font-size: 12px;
    letter-spacing: 0.3px;
}

.subscribe__ul {
    display: flex;
    list-style-type: none;
    margin-top: 41px;
    margin-left: 344px;
}

.subscribe__link {
    background-color: #d6d6d6;
    height: 4px;
    width: 38px;
    margin-right: 13px;
}

a:focus .subscribe__link {
    background-color: #f16d7f;
    height: 4px;
    width: 38px;
    margin-right: 13px;
}

a:hover .subscribe__link {
    background-color: #f16d7f;
}

.subscribe__h1 {
    color: #222224;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    margin-bottom: 5px;
    margin-top: 148px;
    margin-left: 219px;
}

.subscribe__h2 {
    color: #222224;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    margin-left: 146px;
    letter-spacing: 0.35px;
    margin-bottom: 35px;
}

.subscribe__form {
    display: flex;
    align-items: center;
    margin-left: 92px;
}

.subscribe__input {
    border-bottom-left-radius: 23px;
    border-top-left-radius: 23px;
    background-color: #e1e1e1;
    border: 1px solid #e6e6e6;
    height: 46px;
    width: 222px;
    padding: 0 30px;
}

.subscribe__button {
    height: 46px;
    padding-left: 18px;
    padding-right: 20px;
    margin-left: -1px;
    border: none;
    border-radius: 0 23px 23px 0;
    background-color: #f16d7f;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.35px;
    border: 1px solid #f16d7f;
}

.subscribe__button:hover {
    background-color: #ffffff;
    color: #f16d7f;
}

.footer {
    height: 349px;
}

.footer__content {
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 109px;
}

.footer__about {
    width: 427px;
}

.footer__p {
    color: #898989;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.35px;
    margin-top: 29px;
    line-height: 1.7;
}

.footer__company {
    width: 105px;
}

.footer__inform {
    width: 150px;
}

.footer__shop {
    width: 164px;
}

.footer_ul {
    list-style-type: none;
    height: 51px;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
}

.footer__span {
    color: #f16d7f;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.45px;
}

.footer__list {
    color: #898989;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;
}

.footer__list:hover {
    color: #f16d7f;
}

.footer_li {
    margin-bottom: 25px;
}

.copyrigth {
    height: 79px;
    background-color: #e6e6e6;
}

.cpoyright {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright_span {
    color: #7a7a7a;
    font-size: 16px;
    font-weight: 400;

    letter-spacing: 0.4px;
}

.copyright__link {
    height: 32px;
    width: 32px;

}

.copyright__link:hover social2:after {
    color: #f7f7f8;
}

.copyright__social {
    display: flex;
}

.copyright__social a {
    margin-right: 8px;
}


.social1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.social1:hover {
    background-color: #f16d7f;
}

.social1:after {
    content: "\f09a";
    font-family: FontAwesome;
    color: #b2b2b2;
}

.social1:hover:after {
    color: #f7f7f8;
}

.social2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.social2:hover {
    background-color: #f16d7f;
}

.social2:after {
    content: "\f099";
    font-family: FontAwesome;
    color: #b2b2b2;
}

.social2:hover:after {
    color: #f7f7f8;
}

.social3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.social3:hover {
    background-color: #f16d7f;
}

.social3:after {
    content: "\f0e1";
    font-family: FontAwesome;
    color: #b2b2b2;
}

.social3:hover:after {
    color: #f7f7f8;
}

.social4 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.social4:hover {
    background-color: #f16d7f;
}

.social4:after {
    content: "\f231";
    font-family: FontAwesome;
    color: #b2b2b2;
}

.social4:hover:after {
    color: #f7f7f8;
}

.social5 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.social5:hover {
    background-color: #f16d7f;
}

.social5:after {
    content: "\f0d5";
    font-family: FontAwesome;
    color: #b2b2b2;
}

.social5:hover:after {
    color: #f7f7f8;
}

.futured__info {
    padding: 20px 15px;
}

.futured__a {
    color: #222222;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
}

.futured__a:hover {
    color: #f16d7f;
}

.drop__name {
    color: #232323;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.35px;
}

.drop__menu {
    list-style-type: none;
    padding-left: 5px;
    margin-bottom: 19px;
}

.form__drop {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    position: absolute;
    left: 0px;
    top: 40px;
    width: 262px;
    padding: 19px 0 0 15px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 15px -2px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.form__drop::after,
.form__drop::before {
    content: '';
    position: absolute;
    background: #fff;
    left: 69px;
    top: -5px;
    width: 10px;
    height: 10px;
    box-shadow: 0 0 15px -2px rgba(0, 0, 0, 0.2);
    /* Добавляем тень для уголка */
    z-index: -1;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.form__drop::before {
    z-index: 1;
}

.drop__a {
    color: #4f4f4f;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.35px;
}

.drop__a:hover {
    color: #f16d7f;
}

.drop__hr {
    width: 90%;
    height: 2px;
    background-color: #e8e8e8;
    text-decoration: none;
    border: none;
}





.header__cart__block {
    position: relative;
}

.header__cart__block:hover .cart__drop {
    display: flex;
}

.cart__drop {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left: 0px;
    top: 50px;
    width: 262px;
    padding: 19px 0 0 0;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 15px -2px rgba(0, 0, 0, 0.2);
}

.cart__drop::after,
.cart__drop::before {
    content: '';
    position: absolute;
    background: #fff;
    left: 25px;
    top: -5px;
    width: 10px;
    height: 10px;
    box-shadow: 0 0 15px -2px rgba(0, 0, 0, 0.2);
    /* Добавляем тень для уголка */
    z-index: -1;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.cart__drop::before {
    z-index: 1;
}


.cart__prod {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.cart__hr {
    width: 90%;
    height: 1px;
    background-color: #e8e8e8;
    text-decoration: none;
    border: none;
    margin: 20px 0;
}

.prod_block {
    margin-left: 14px;
}



.prod__name {
    color: #222222;
    font-size: 12px;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
}

.fa-times-circle {
    color: #c0c0c0;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 40px;
    margin-left: 55px;
}

.prod__price {
    color: #f16d7f;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;

    font-size: 10px;
    margin-top: 12px;
}

.cart__total {
    display: flex;
    justify-content: space-between;
    width: 228px;
    margin-bottom: 32px;
}

.cart__total__price {
    color: #222222;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.cart__button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 225px;
    border: 1px solid #eaeaea;
    margin-bottom: 20px;
    color: #4a4a4a;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.cart__button:hover {
    color: #f16d7f;
    border: 1px solid #f16d7f;
}

.sales__mini_cat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 341px;
}

.sales__prod {
    background-color: #222224;
    /*    height: 341px;*/
}

.sales__container_cat {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 329px;
    justify-content: center;
}

.sales__h2_cat {
    color: #fbfbfb;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.5px;
    margin-bottom: 17px;
}

.sales__p_cat {
    color: #fbfbfb;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.30px;
    line-height: 25px;
    text-align: justify;
}

.sales__korona {
    margin-bottom: 32px;
}

.sales__car {
    margin-bottom: 23px;
}

.sales__pros {
    margin-bottom: 29px;
}

.menu__mega {
    border-radius: 5px;
    background-color: #fff;
    padding: 12px 20px 20px;
    border: 1px solid #ececec;
    box-shadow: 0 0 15px -2px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 43px;
}

.menu__mega::after,
.menu__mega::before {
    content: '';
    position: absolute;
    background: #fff;
    left: 10px;
    top: -5px;
    width: 10px;
    height: 10px;
    box-shadow: 0 0 15px -2px rgba(0, 0, 0, 0.2);
    /* Добавляем тень для уголка */
    z-index: -1;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.menu__mega::before {
    z-index: 1;
}

.mega__link {
    text-decoration: none;
    color: #646464;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.35px;
    line-height: 33px;
}

.mega__link:hover {
    color: #f16d7f;
}

.mega__ul {
    list-style-type: none;
    margin-top: 16px;
}

.mega__h3 {
    padding-bottom: 8px;
    color: #232323;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 8px;
    letter-spacing: 0.35px;
    margin-top: 20px;
}

.menu__mega__drop {
    width: 235px;
    margin-right: 46px;
}

.menu__mega__drop:last-of-type {
    margin-right: 0px;
}

.drop__flex {
    display: none;
    margin-right: 46px;
}

.menu__list {
    position: relative;
}

.menu__list:hover .drop__flex {
    display: flex;
}

.breadcrumb__container {
    background-color: #f8f3f4;
}

.breadcrumb__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 148px;
}

.breadcrumb__h1 {
    color: #f16d7f;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
}

.breadcrumb__ol {
    font-size: 14px;
    text-transform: uppercase;
    color: #636363;
    font-weight: 500;
    text-decoration: none;
    background-color: #f8f3f4;
    display: flex;
    list-style-type: none;
}



.breadcrumb__a {
    text-decoration: none;
}

.breadcrumb__a:hover {
    color: #f16d7f;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}



.breadcrumb__item::after {
    content: "/";
    padding: 0px 10px 0px 10px;
}

.breadcrumb__item:last-of-type::after {
    content: "";
}

.breadcrumb__item:last-of-type {
    color: #f16d7f;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.products_content {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.products__sidebar {
    width: 245px;
    margin-right: 49px;
}

.products__category_style::-webkit-details-marker {
    display: none;
}

.products__category_style {
    color: #6f6e6e;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding-left: 11px;
    border-left: 5px solid #ef5b70;
    border-bottom: 1px solid #ebebeb;
}

details.products__category[open] .products__category_style {
    color: #ef5b70;
}

.products__category_style {
    color: #6f6e6e;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}


.products__category {
    display: inline-block;
    line-height: 40px;
    width: 250px;
    margin-bottom: 18px;
}

.products__summary {
    background-color: #fff;
    color: #6f6e6e;
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
}

.shopping_cart__summary {
    color: #b1b1b1;
    font-size: 13px;
    font-weight: 300;
    line-height: 45px;
    text-align: left;
    padding-left: 20px;
}

.product__description_choose_summary {
    color: #b1b1b1;
    font-size: 13px;
    font-weight: 300;
    line-height: 35px;
    text-align: left;
    padding-left: 12px;
    display: flex;
}

.product__description_choose_summary1 {
    color: #b1b1b1;
    font-size: 13px;
    font-weight: 300;
    line-height: 35px;
    text-align: left;
    padding-left: 12px;
    display: flex;
}

.product__description_choose_summary::before {
    content: "";
    display: inline-block;
    line-height: 35px;
    margin-top: 12px;
    margin-right: 10px;
    width: 12px;
    height: 12px;
    background-color: red;
}






.products__summary::-webkit-details-marker {
    display: none;
}

.shopping_cart__summary::-webkit-details-marker {
    display: none;
}

.product__description_choose_summary::-webkit-details-marker {
    display: none;
}

.product__description_choose_summary1::-webkit-details-marker {
    display: none;
}

.products__category__inside {
    padding-left: 17px;
    padding-top: 10px;
}

.products__nav {
    list-style-type: none;
}

.products__nav__a {
    color: #6f6e6e;
    font-size: 14px;
    font-weight: 400;
}

.products__nav__a:hover {
    color: #ef5b70;
}

.products__filter__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 41px;
}

.tending__h1 {
    color: #6f6e6e;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.trending__conteiner_p {
    display: flex;
}

.trending__a {
    color: #6f6e6e;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    margin-top: 10px;
}

.trending__a::after {
    content: "|";
    margin: 0 10px;
}

.trending__a:last-of-type::after {
    content: "";
    margin: 0;
}

.trending__a:hover {
    color: #dfdfdf;
}



.trending__conteiner_input {
    display: flex;
    flex-wrap: wrap;
    width: 245px;
}

.trending__input {
    margin-right: 10px;
    margin-top: 13px;
}

.trending__p {
    color: #6f6e6e;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    width: 39px;
    margin-top: 10px;
}



.products__items {
    width: 846px;
}



.filter__price_flex {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.filter__price_p {
    display: block;
    color: #6f6e6e;
    font-size: 14px;
    font-weight: 400;
}

.products__filter_img {
    margin-top: 10px;
}

.products__filter__bottom {
    background-color: #f3f3f3;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.products__sort_p {
    border: 1px solid #ebebeb;
    background-color: #ffffff;
    height: 30px;
    color: #6f6e6e;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    padding: 0 13px;
}

.products__sort {
    margin-left: 10px;
    display: flex;
    align-content: center;
}

.products__details {
    height: 30px;
    width: 82px;
    text-align: center;
    border: 1px solid #ebebeb;
}

.products__details_2 {
    width: 63px;
    height: 30px;
    text-align: center;
    border: 1px solid #ebebeb;
}

.shopping_cart__details {
    width: 100%;
    height: 45px;
    text-align: center;
    border: 1px solid #eaeaea;
    margin-top: 22px;
}

.product__description_choose_details {
    width: 100%;
    height: 35px;
    text-align: center;
    border: 1px solid #eaeaea;
    margin-top: 22px;
    position: relative;
}

.products__drop {
    width: 82px;
    display: flex;
    flex-direction: column;
}

.products__drop_2 {
    width: 53px;
    display: flex;
    flex-direction: column;
}

.products__drop__item1 {
    background-color: #fff;
    text-align: left;
    padding-left: 10px;
    border: 1px solid #ebebeb;
    height: 30px;
    line-height: 30px;
    color: #bcbcbc;
    font-size: 13px;
    font-weight: 400;
}

.products__drop__item3 {
    background-color: #fff;
    text-align: left;
    padding-left: 10px;
    border: 1px solid #ebebeb;
    height: 30px;
    line-height: 30px;
    color: #bcbcbc;
    font-size: 13px;
    font-weight: 400;
}

.products__drop__item1::before {
    content: "";
    display: inline-block;
    line-height: 35px;
    margin-top: 12px;
    margin-right: 10px;
    width: 12px;
    height: 12px;
    background-color: green;
}

.products__drop__item2 {
    background-color: #fff;
    text-align: left;
    padding-left: 10px;
    border: 1px solid #ebebeb;
    height: 30px;
    line-height: 30px;
    color: #bcbcbc;
    font-size: 13px;
    font-weight: 400;
}

.products__drop__item2::before {
    content: "";
    display: inline-block;
    line-height: 35px;
    margin-top: 12px;
    margin-right: 10px;
    width: 12px;
    height: 12px;
    background-color: blue;
}

.products__filter {
    margin-bottom: 50px;
}

.feature__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.products__item_1 {
    background-color: rgba(101, 169, 200, 0.09);
    /*    background-color: #e9e9e9;*/
}

.products__view {
    display: flex;
    justify-content: space-between;
    margin-bottom: 110px;
}

.products__pages {
    border-radius: 3px;
    border: 1px solid #ebebeb;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
}

.products__buttom {
    border-radius: 3px;
    border: 1px solid #ef5b70;
    background-color: #ffffff;
}

.products__buttom_a {
    display: block;
    text-decoration: none;
    color: #ef5b70;
    font-size: 16px;
    font-weight: bold;
    padding: 15px 45px;
}

.products__buttom_a:hover {
    background-color: #ef5b70;
    color: #fff;
}

.products__pages_numb {
    color: #c4c4c4;
    font-size: 16px;
    font-weight: bold;
    margin-right: 13px;
}

.products__pages_numb:hover {
    color: #ef5b70;
}

.products__pages_numb:last-of-type {
    margin-right: 0;
}

.products__pages_cont::after {
    /*
    content: "\f105";
    font-family: FontAwesome;
    color: #aaaaaa;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.35px;
    margin-left: 16px;
*/
}

.products__pages_cont::before {
    /*
    content: "\f104";
    font-family: FontAwesome;
    color: #aaaaaa;
    font-size: -20px;
    font-weight: bold;
    letter-spacing: 0.35px;
    margin-right: 16px;
*/
}

.fa-chevron-right {
    color: #aaaaaa;
    font-size: -20px;
    font-weight: bold;
    letter-spacing: 0.35px;
}

.fa-chevron-left {
    color: #aaaaaa;
    font-size: -20px;
    font-weight: bold;
    letter-spacing: 0.35px;
    margin-right: 12px;
}

.fa-chevron-left:hover {
    color: #ef5b70;
}

.fa-chevron-right:hover {
    color: #ef5b70;
}



.checkout {
    margin-top: 89px;
    margin-bottom: 93px;
}

.checkout__h1 {
    color: #222222;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.checkout__summary {
    color: #222222;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    height: 72px;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    line-height: 72px;
    margin-bottom: -1px;
}

.checkout__summary::-webkit-details-marker {
    display: none;
}

.checkout__details__content {
    margin: 35px 0 79px 39px;
    display: flex;
}

.checkout__details_h1 {
    color: #222222;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.checkout__details_p {
    color: #b3b2b2;
    font-size: 13px;
    font-weight: 400;
}

.checkout__radio {
    color: #222222;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 30px;
}

.checkout__radio_2 {
    color: #222222;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 30px;
}

.checkout__radio_2::after {
    content: " *";
    font-size: 17px;
    color: #ff0d0d;
}

.checkout__radio_1 {
    color: #222222;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 33px;
}

.checkout__reg {
    color: #222222;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.checkout__details_p1 {
    color: #b3b2b2;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 15px;
}

.checkout__details_p1::before {
    content: "\f101";
    font-family: FontAwesome;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.35px;
}

.checkout__details_p2 {
    color: #b3b2b2;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 33px;
}

.checkout__details_a {
    color: #4a4a4a;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    border: 1px solid #eaeaea;
    width: 180px;
    height: 50px;
    display: block;
    text-align: center;
    line-height: 50px;
    margin-top: 38px;
}

.checkout__details_a:hover {
    color: #ff0d0d;
    border: 1px solid #ff0d0d;
}

.checkout__details__left {
    margin-right: 292px;
}

.checkout__req {
    color: #ff0d0d;
    font-size: 13px;
    font-weight: 400;
    margin-top: 22px;
}

.checkout__log_con {
    display: flex;
}

.checkout__log_a {
    color: #4a4a4a;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    border: 1px solid #eaeaea;
    width: 180px;
    height: 50px;
    display: block;
    text-align: center;
    line-height: 50px;
    margin-top: 32px;
}

.shopping_cart__a {
    color: #4a4a4a;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    border: 1px solid #eaeaea;
    padding: 0 39px;
    display: block;
    text-align: center;
    line-height: 50px;
    margin-top: 32px;
}

.shopping_cart__a:hover {
    color: #f16d7f;
    border: 1px solid #f16d7f;
    ;
}

.checkout__log_a:hover {
    color: #ff0d0d;
    border: 1px solid #ff0d0d;
}

.checkout__log_a_2 {
    display: block;
    color: #222222;
    font-size: 14px;
    font-weight: 400;
    margin-top: 56px;
    margin-left: 32px;
}

.checkout__log {
    display: flex;
}

.checkout__hr {
    border-style: none;
    background-color: #e8e8e8;
    height: 1px;
}

.shopping_cart {
    margin-top: 90px;
    margin-bottom: 80px;
}

.shopping_cart__h {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.shopping_cart__item {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #eaeaea;
    padding: 25px 0;
}

.shopping_cart__item_l {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    padding: 25px 0;
}



.shopping_cart_box1 {
    width: 439px;
    display: flex;
}

.shopping_cart_box2 {
    width: 14%;
    text-align: center;
}

.shopping_cart_box3 {
    width: 14%;
    text-align: center;
}

.shopping_cart_box4 {
    width: 12%;
    text-align: center;
}

.shopping_cart_box5 {
    width: 12%;
    text-align: center;
}

.shopping_cart_box6 {
    width: 5%;
    text-align: center;
}

.shopping_cart__h1 {
    color: #222222;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.2px;
}

.shopping_cart_img {
    width: 100px;
    height: 115px;
}

.shopping_cart_box1_p {
    color: #222222;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 13px 0 28px 0;
}

.shopping_cart_box1_img {
    margin-right: 21px;
}

.shopping_cart_box1_p1 {
    margin-bottom: 5px;
    color: #575757;
}

.shopping_cart_box1_span {
    color: #575757;
    font-weight: 700;
}

.shopping_cart_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.shopping_cart_box1_p2 {
    color: #656565;
    font-size: 13px;
    font-weight: 500;
}

.shopping_cart_box1_input {
    width: 54px;
    height: 30px;
    text-align: center;
}

.product__description_choose_input {
    width: 100%;
    height: 35px;
    text-align: center;
    border: 1px solid #eaeaea;
    margin-top: 5px;
}

.product__description_choose_input:placeholder-shown {
    color: #bcbcbc;
    font-size: 14px;
    font-weight: 300;
    text-align: left;
    padding-left: 10px;
}

.shopping_cart_box1_p3 {
    color: #656565;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
}

.shopping_cart_box6_i::after {
    content: "\f057";
    font-family: FontAwesome;
    color: #c0c0c0;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;

}

.shopping_cart__botton {
    display: flex;
    justify-content: space-between;
    margin-bottom: 63px;
}

.shopping_cart__proceed_box1 {
    width: 30%;
}

.shopping_cart__proceed_box2 {
    width: 30%;
}

.shopping_cart__proceed_box3 {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 174px;
    padding: 41px 41px 0 41px;
    background-color: #f5f3f3;
    align-items: flex-end;
}

.shopping_cart__proceed {
    display: flex;
    justify-content: space-between;
}

.shopping_cart_h1 {
    color: #222222;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.shopping_cart__input::placeholder {
    color: #b1b1b1;
    font-size: 13px;
    font-weight: 300;
}

.shopping_cart__input {
    width: 322px;
    height: 45px;
    padding-left: 20px;
    border: 1px solid #eaeaea;
    margin-top: 20px;
}

.shopping_cart__proceed_a {
    display: inline-block;
    border: 1px solid #eaeaea;
    height: 35px;
    padding: 0 17px;
    margin-top: 20px;
    line-height: 35px;
    text-align: center;
    color: #4a4a4a;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
}

.shopping_cart__proceed_box3_a {
    display: inline-block;
    background-color: #f16d7f;
    height: 50px;
    padding: 0 46px;
    line-height: 50px;
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    border: 1px solid #f5f3f3;
}

.shopping_cart__proceed_box3_a:hover {
    background-color: #fff;
    border: 1px solid #f16d7f;
    color: #f16d7f;
}

.shopping_cart__proceed_a:hover {
    border: 1px solid #f16d7f;
    color: #f16d7f
}



.shopping_cart__proceed_a_p {
    color: #4a4a4a;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
}

.shopping_cart_p {
    color: #000000;
    font-size: 14px;
    font-weight: 300;
    margin-top: 28px;
}

.shopping_cart__proceed_box3_p {
    color: #4a4a4a;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
}

.shopping_cart__proceed_box3_p2 {
    color: #222222;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 14px;
}

.shopping_cart__proceed_box3_p2 span {
    color: #f16d7f;
}

.shopping_cart__proceed_box3_hr {
    background-color: #e2e2e2;
    width: 100%;
    height: 1px;
    background-color: #e8e8e8;
    text-decoration: none;
    border: none;
    margin: 20px 0;
}

.slider {
    background: url(../img/slider1.jpg) no-repeat;
    background-position: center;
    background-color: #f7f7f7;
    height: 777px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: -11;
}

.arrow_left {
    width: 47px;
    height: 47px;
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
    line-height: 47px;
}

.arrow_left::after {
    content: "\f104";
    font-family: FontAwesome;
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
}


.arrow_right {
    width: 47px;
    height: 47px;
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
    line-height: 47px;
}

.arrow_right::after {
    content: "\f105";
    font-family: FontAwesome;
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
}


.product__description {
    border: 1px solid #eaeaea;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -86px;
    /*    z-index: 1;*/
    background-color: #fff;
    margin-bottom: 30px;
}

.product__description_h3 {
    display: inline-block;
    color: #f16d7f;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 73px;
    padding-bottom: 15px;
    margin-bottom: 19px;
    border-bottom: 1px solid #eaeaea;
    position: relative;
    z-index: 1;
}

.product__description_h3::before {
    border-bottom: 3px solid #f16d7f;
    content: "";
    position: absolute;
    top: 0;
    left: 40px;
    display: block;
    width: 60px;
    min-height: 31px;
    z-index: 10;
}

.product__description_h1 {
    color: #4d4d4d;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 67px;
}

.product__description_text {
    width: 620px;
    text-align: center;
    color: #5e5e5e;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 28px;
}

.product__description_box_p {
    color: #b9b9b9;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 44px;
}

.product__description_box_p:last-of-type {
    margin-right: 0px;
}


.product__description_box_p span {
    color: #2f2f2f;
}


.product__description_box {
    display: flex;
    margin-bottom: 37px;
}

.product__description_price {
    color: #ef5b70;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 43px;
}

.product__description_hr {
    width: 642px;
    height: 1px;
    background-color: #eaeaea;
    text-decoration: none;
    border: none;
    margin-bottom: 64px;
}

.product__description_choose {
    width: 542px;
    display: flex;
    justify-content: space-between;
}

.product__description_choose_b {
    width: 25%;
}

.product__description_choose_p {
    color: #2f2f2f;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.products__drop_3 {
    position: absolute;
    z-index: 20;
    background: #fff;
    width: 134px;
}

.product__description_button {
    margin-top: 28px;
    margin-bottom: 122px;
    height: 55px;
    border: 1px solid #ef5b70;
    width: 537px;
    text-align: center;
    line-height: 55px;
    color: #ef5b70;
    display: inline-flex;
    justify-content: center;
    position: relative;
}

.product__description_button img {
    margin-right: 15px;
}

.product__description_button:hover {
    background-color: #ef5b70;
    color: #fff;
}

.product__description_button:hover::before {
    content: "";
    position: absolute;
    background-image: url(../img/cart_white.svg);
    background-size: 26px 26px;
    height: 26px;
    width: 26px;
    top: 14px;
    left: 209px;
}

.you_may_like {
    margin-bottom: 73px;
}

.you_may_like_h1 {
    color: #4d4d4d;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 79px;
    text-align: center;
}

.you_may_like_cont {
    display: flex;
    justify-content: space-between;
}

.cart__button_a {
    display: inline-flex;
    height: 50px;
    width: 225px;
    justify-content: center;
    align-items: center;
    border: 1px solid #eaeaea;
    margin-bottom: 20px;
    color: #4a4a4a;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.cart__button_a:hover {
    color: #f16d7f;
    border: 1px solid #f16d7f;
}
